* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* hidden scroll bar */
::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
	display: none;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-thumb {
	display: none;
}
::-webkit-scrollbar-thumb {
	display: none;
}
::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
	display: none;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
	display: none;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
	display: none;
}
/**/

:root {
	--nav-h: 8%;
	--footer-h: 6%;
	--section-h: 92%;
	--font-family: Roboto;
	--white: #fff;
	--grey: #aaa;
	--black: #000;
	--blue-m: #2962ff;
	--blue-d: #0039cb;
	--blue-l: #768fff;
	--red-m: #c62828;
	--red-d: #8e0000;	
	--red-l: #ff5f52;
	--orange-m: #ff5722;
	--orange-d: #c41c00;
	--orange-l: #ff8a50;
	--black1: #121212;
	--black2: #1d1d1d;
	--black3: #222222;
	--black4: #242424;
	--black5: #272727;
	--black6: #2c2c2c;
	--black7: #2d2d2d;
	--black8: #323232;
	--black9: #333333;
	--black10: #373737;
	--border-m: var(--white) 1px solid;
	--border-r: 6px;
	--box-shadow: 3px 3px 3px #000;
	--hat-thick: 6px;
	--transition: all 0.15s ease;
}

html,
body {
	font-family: var(--font-family);
	overflow-x: hidden;
}

img {
	display: block;
	width: 100%;
}

a, a:link, a:visited, a:active {
	color: inherit;
	text-decoration: none;
}

input, button {
	font-family: inherit;
}

.layout {
  	background-color: var(--black2);
  	height: 100vh;
  	width: 100vw;
  	position: relative;
  	overflow-y: auto;
}

.nav-wrapper {
	height: var(--nav-h);
	background-color: var(--blue-d);
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-end;
}

.nav {
	height: 75%;
	width: 100%;
	background-color: var(--blue-m);
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	position:relative;
}

.nav img {
	height: 80%;
	width: auto;
	pointer-events: none;
}

.nav h1 {
	color: var(--white);
	pointer-events: none;
}

.footer {
	background: var(--black10);
	bottom: 0;
	height: var(--footer-h);
	position: fixed;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	border-top: 1px solid var(--grey);
	box-shadow: 0px -1.5px 1.5px var(--black);
}

.footer a {
	font-size: 25px;
	width: 50px;
	height: 50px;
	color: var(--white);
	cursor: pointer;
	transition: var(--transition);
	border-radius: 50%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background-color: var(--blue-d);
}

.footer a:hover {
	background-color: var(--blue-m);
}

.home-navigation {
	width: 100%;
	background-color: var(--black5);
	display: flex;
	flex-flow: row wrap;
	height: 50px;
}

.home-navigation div {
	color: var(--white);
	transition: var(--transition);
	width: 33%;
	border-right: 1px dotted var(--white);
	display: flex;
	justify-items: center;
	align-items: center;
	height: 50px;
}

.home-navigation div:last-child {
	border: none;
}

.home-navigation a {
	margin: auto;
	text-align: center;
	cursor: pointer;
}

.home-navigation a:hover {
	color: var(--orange-m);
}

.home-section {
	height: 100%;
	height: var(--section-h);
}

.blog-article {
	background-color: var(--black10);
	position: relative;
	margin: 0;
	margin-bottom: 30px;
	box-shadow: none;
	border-radius: none;
}

.blog-article:first-child {
	margin-top: 30px;
}

.empty-separator-lol {
	height: 40px;
	width: 100%;
}

.blog-article:after {
	content: '';
	height: var(--hat-thick);
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--white);
}

.blog-article .blog-text {
	width: 100%;
	color: var(--white);
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	font-size: 20px;
}

.blog-article .blog-text p {
	padding: 0 5px;
	width: 100%;
}

.blog-article .blog-text .blog-title {
	background-color: var(--blue-l);
  	font: italic bold 30px Georgia, Serif;
  	text-shadow: -2px 1px 0 var(--blue-d), -3.5px 1.2px 0 var(--blue-d);
  	padding: 10px 5px 5px 5px;
  	margin-bottom: 5px;
}

.blog-article .blog-text .blog-collection {
	margin-bottom: 5px;
}

.blog-article .blog-text .blog-collection a {
	padding: 0 5px 0 8px;
	background-color: var(--orange-l);
  	font: italic bold 20px Georgia, Serif;
  	text-shadow: -2px 1px 0 var(--orange-d), -3.5px 1.2px 0 var(--orange-d);
  	cursor: pointer;
  	border-radius: var(--border-r);
  	transition: var(--transition);
}

.blog-article .blog-text .blog-collection a:hover {
	box-shadow: 0px 0px 3px 1px var(--orange-l);
	text-shadow: none;
	background-color: var(--orange-m);
	text-shadow: -2px 1px 0 var(--black), -3.5px 1.2px 0 var(--black);
}

.blog-article .blog-img {
	border-radius: 0 0 var(--border-r) var(--border-r);
}

.center-section {
	width: 100%;
	min-height: var(--section-h);
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
}

.center-box {
	margin-top: 30px;
	width: 250px;
	background-color: var(--blue-m);
	box-shadow: var(--box-shadow);
	border-radius: var(--border-r);
	position: relative;
}

.center-box:after {
	content: '';
	height: var(--hat-thick);
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--blue-d);
	border-radius: var(--border-r) var(--border-r) 0 0;
}

.user-box {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.user-box .user-text {
	padding: 10px;
	color: var(--white);
}

.user-box .user-text:first-child {
	margin-top: 10px;
}

.user-box .image-box {
	width: 150px;
	padding: 10px 0;
}

.input-box {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 10px 20px;
}

.input-label {
	color: var(--white);
	text-indent: 5px;
	width: 100%;
}

.input {
	color: var(--black);
	background-color: var(--white);
	border: none;
	border-radius: 2px;
	outline: none;
	width: 100%;
	font-size: 16px;
	padding: 8px;
}

.input:focus, .input:active {
	outline: none;
}

.button {
	background-color: var(--blue-d);
	cursor: pointer;
	color: var(--white);
	font-weight: 600px;
	transition: var(--transition);
}

.button:hover {
	background-color: var(--black);
}

.button p {
	transition: var(--transition);
	transform: scale(0.75);
	font-size: 20px;
}

.button:hover p {
	transform: scale(1);
	text-shadow: 1px 1px var(--black);
}

.switch-auth {
	width: 250px;
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.switch-auth p {
	color: var(--white);
	text-align: center;
	transition: var(--transition);
}

.switch-auth p a {
	text-decoration: underline;
	font-weight: 600;
	padding: 6px;
	margin-left: -3px;
	transition: var(--transition);
	border-radius: var(--border-r);
}

.switch-auth p a:hover {
	color: var(--blue-l);
	text-decoration: none;
	background-color: var(--black10);
}

.form-messages {
	margin-top: 20px;
	width: 250px;
	background-color: var(--red-m);
	color: var(--white);
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	border-radius: var(--border-r);
	box-shadow: var(--box-shadow);
	padding: 10px 20px;
}

.form-messages span {
	margin: 6px 0;
	padding: 1px;
	background-color: var(--red-d);
	border-radius: 2px;
}

.form-messages span:last-child {
	margin-bottom: 0;
}

@media(min-width: 520px) {
	.wrapper {
		background-color: var(--black1);
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.layout {
		height: 90vh;
		width: 520px;
		border-radius: 10px;
	}
	
	.blog-article {
		border-radius: var(--border-r);
		box-shadow: var(--box-shadow);
		margin: 0 20px;
		margin-bottom: 30px;
	}
	
	.blog-article:after {
		border-radius: var(--border-r) var(--border-r) 0 0;
	}
	
	.blog-article .blog-text .blog-title {
	  	border-radius: var(--border-r) var(--border-r) 0 0;
	}

	.footer {
		border-radius: 0 0 var(--border-r) var(--border-r);
	}
}

/* hide things if too small */
@media(max-width: 250px) {
	.nav {
		justify-content: center;
	}

	.nav h1 {
		display: none;
	}
	
	.center-section {
		align-items: stretch;
	}
	
	.center-box,
	.switch-auth,
	.form-messages {
		width: 100%;
		border-radius: 0;
		box-shadow: none;
	}
	
	.center-box:after {
		border-radius: 0;
	}
}
