<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>Nasa-JSP</display-name>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>controllers.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/MainController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthController</display-name>
    <servlet-name>AuthController</servlet-name>
    <servlet-class>controllers.AuthController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthController</servlet-name>
    <url-pattern>/auth/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <location>/public/views/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>UsersController</display-name>
    <servlet-name>UsersController</servlet-name>
    <servlet-class>controllers.UsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersController</servlet-name>
    <url-pattern>/UsersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogsController</display-name>
    <servlet-name>BlogsController</servlet-name>
    <servlet-class>controllers.BlogsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogsController</servlet-name>
    <url-pattern>/BlogsController</url-pattern>
  </servlet-mapping>
</web-app>